body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#entangled-viewport {
    position: relative;
    left:     0px;
    top:      0px;
    width:  700px;
    height: 500px;
}

#entangled-chat {
    position: relative;
    left: 701px;
    top: 0px;
    width: 200px;
    height: 500px;
}