body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#entangled-viewport {
    position: absolute;
    left:     0px;
    top:      0px;
    width:  700px;
    height: 500px;
}

#entangled-chat {
    position: absolute;
    left: 701px;
    top: 0px;
    width: 300px;
    height: 500px;
}

#chatlog {
 height: 470px;
 overflow: scroll;
 
}

.message {
    max-width: 280px;
    word-wrap: break-word;
}